<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/Admin/style.css">
</head>
<body>
  <%- include('../partials/header') %>
  
  <h1>Admin Dashboard</h1>

  
  <%- include('../partials/footer') %>
</body>
</html>
