<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management</title>
    <link rel="stylesheet" href="/css/user/partials.css">
</head>

<body>
    <header>
        <nav>
            
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/notice">Notice</a>
            <a href="/registration">Registration</a>
        </nav>
    </header>
</body>

</html>