<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Library Management</title>
    <link rel="stylesheet" href="/css/user/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
</head>

<body>
    <%- include('../partials/header') %>
    
    <div class="main-container">
        <div class="video-section">
            <video autoplay muted loop>
                <source src="/images/background-vid.mp4" type="video/mp4" >   
            </video>
        </div>
    </div>

    <%- include('../partials/footer') %>
</body>

</html>