<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Library Management</title>
    <link rel="icon" href="/header-RBNB_Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/User/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
</head>

<body>
    <%- include('../partials/header') %>
    
    <h1>Notice</h1>

    <%- include('../partials/footer') %>
</body>

</html>